html, body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfefe;
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: #eaf6f6;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #eaf6f6;
    color: #ff4e74;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: #f76b8a;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #ff4e74;
}

button:active {
    background-color: #ff91a9;
}

.operator-btn {
    background-color: #66bfbf;
}

.operator-btn:hover {
    background-color: #53afaf;
}

.operator-btn:active {
    background-color: #7ce6e6;
}
